@model IEnumerable<WebApplication1.Models.Verhuren>

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Verhuur</title>
</head>
<br />
<body>
    <p>
        @Html.ActionLink("Huur een auto", "Create", new { @class = "btn btn-primary" })
    </p>
    
</body>
</html>
